{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=1024">
    <title>Listado de visitas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/eha/eha_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/eha/style.css' %}">
</head>
<body>
    <div class="" style="height: 99vh;">
        <header class="sombra">
            <div style="width: 10rem;">
                <img src="{% static 'img/logo-ventanilla.png' %}" alt="Logo Municipalidad Ventanilla" class="logo">
            </div>
            <div class="title-container">
                <h1 class="main-title">MUNICIPALIDAD DISTRITAL DE VENTANILLA</h1>
            </div>
            <div class="user-container" style="width: 150px;">
                <div class="user-image">
                    <img src="{% static 'img/hsolis.png' %}" alt="Usuario">
                </div>
                <div class="user-info">
                    <p class="user-name">Hellen Solis</p>
                    <p class="user-username">hsolis</p>
                </div>
            </div>
        </header>
        <div>
        <form method="get" action="{% url 'visitas:buscar_visitas' %}">
        <div class="search-container" style="margin-top: 20px;">
            <div class="reset-icon-container">
                <a href="{% url 'visitas:dashboard' %}" class="reset-icon" title="Reset search"><img class="reset-x" src="{% static 'img/reiniciar.png' %}"></a>
                <fieldset class="form__div" style="max-width: 250px;">
                    <legend>Buscar</legend>
                    <input type="text" name="text-search" class="form__input" placeholder=" " id="id-text-search">
                    <label for="id-text-search" class="form__label">Texto a buscar</label>
                </fieldset>
            </div>
            <fieldset class="form__div" style="max-width: 150px;">
                <legend>Fecha Inicial</legend>
                <input type="date" name="fecha_inicial" class="form__input" id="id-fecha_inicial">
                <label for="id-fecha_inicial" class="form__label">Fecha Inicial</label>
            </fieldset>
            <fieldset class="form__div" style="max-width: 150px;">
                <legend>Fecha Final</legend>
                <input type="date" name="fecha_final" class="form__input" id="id-fecha_final">
                <label for="id-fecha_final" class="form__label">Fecha Final</label>
            </fieldset>
            <button type="submit" class="search-button" style="margin-top: -15px;">Buscar</button>
        </div>
        </form>
    </div>
        <table class="table-responsive">
            <thead>
                <tr style="font-size: 14px;">
                    <th>Visitante</th>
                    <th>Documento</th>
                    <th>Entidad</th>
                    <th>Motivo</th>
                    <th>Funcionario</th>
                    <th>Documento</th>
                    <th>Area</th>
                    <th>Sucursal</th>
                    <th>Fecha</th>
                    <th>Hora Ing.</th>
                    <th>Hora Sal.</th>
                </tr>
            </thead>
            <tbody>
                {% for o in visitas %}
                <tr style="font-size: 11px;">
                    <td data-label="Visitante"  title="{{ o.visitante|escapejs }}">{{o.visitante}}</td>
                    <td data-label="Documento">{{o.visitante_doc}}</td>
                    <td data-label="Entidad">{{o.entidad}}</td>
                    <td data-label="Motivo" title="{{ o.motivo|escapejs }}">{{o.motivo}}</td>
                    <td data-label="Funcionario" title="{{ o.funcionario|escapejs }}">{{o.funcionario}}</td>
                    <td data-label="Documento">{{o.funcionario_doc}}</td>
                    <td data-label="Area"  title="{{ o.area|escapejs }}">{{o.area}}</td>
                    <td data-label="Sucursal">{{o.sucursal}}</td>
                    <td data-label="Fecha">{{o.fecha}}</td>
                    <td data-label="Hora Ing.">{{o.hora_ing}}</td>
                    <td data-label="Hora Sal.">{{o.hora_salida}}</td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="11">No se encontraron visitas.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1{% if request.GET.texto %}&texto={{ request.GET.texto }}{% endif %}{% if request.GET.fecha_inicial %}&fecha_inicial={{ request.GET.fecha_inicial }}{% endif %}{% if request.GET.fecha_final %}&fecha_final={{ request.GET.fecha_final }}{% endif %}">&laquo; primera</a>
                        <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.texto %}&texto={{ request.GET.texto }}{% endif %}{% if request.GET.fecha_inicial %}&fecha_inicial={{ request.GET.fecha_inicial }}{% endif %}{% if request.GET.fecha_final %}&fecha_final={{ request.GET.fecha_final }}{% endif %}">anterior</a>
                    {% endif %}

                    <span class="current">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}{% if request.GET.texto %}&texto={{ request.GET.texto }}{% endif %}{% if request.GET.fecha_inicial %}&fecha_inicial={{ request.GET.fecha_inicial }}{% endif %}{% if request.GET.fecha_final %}&fecha_final={{ request.GET.fecha_final }}{% endif %}">siguiente</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.texto %}&texto={{ request.GET.texto }}{% endif %}{% if request.GET.fecha_inicial %}&fecha_inicial={{ request.GET.fecha_inicial }}{% endif %}{% if request.GET.fecha_final %}&fecha_final={{ request.GET.fecha_final }}{% endif %}">última &raquo;</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
    </div>
    
</body>
</html>